
@media only screen and (max-width: 600px){
    .navbar{
        background-color: #ca4172;
        height: 80px;
        box-shadow: 2px 2px 15px 0px rgba(0,0,0, 0.42);
        align-items: center;
    }

    .navbar .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: #ca4172;
        height: 50vh;
        left: -1em;
        transform:translateY(-120%);
        transition: all 0.8s;
        
    }

    .navbar .menu-toggle{
        transform: translateY(0%);
    }

    .menu li{
        margin-top: 3em;
    }

    .navbar .menu-bar{
        display: block;
        font-size: 2em;
        color: #fff;
        cursor: pointer;

    }
/*MAIN SECTION */

.main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 70vh;margin-top: 40px;
}

.main img{
    width: 12em;
}

.main h1{
    margin-top: -50px;
}

.main .button-content{
    display: flex;
    flex-direction: column;
    margin: 30px;
}




}














